<!-- Footer -->
<footer class="bg-dark text-white py-4">
    <div class="container px-4 px-lg-5">
        <div class="row justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <ul class="list-inline text-center mb-2">
                    <li class="list-inline-item">
                        <a href="https://www.linkedin.com/in/danhathway/" target="_blank" class="text-white" title="linkedin">
                            <span class="fa-stack fa-lg">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-linkedin-in fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.facebook.com/dan.hathway/" target="_blank" class="text-white" title="facebook">
                            <span class="fa-stack fa-lg">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://github.com/dancouver" target="_blank" class="text-white" title="github">
                            <span class="fa-stack fa-lg">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.hmconsulting.ca" target="_blank" class="text-white" title="consulting practice">
                            <span class="fa-stack fa-lg">
                                <!-- Replace the Font Awesome circle with your local circle icon -->
                                <img src="{{ url_for('static', filename='hmc circle.png') }}" class="custom-circle-icon" alt="Circle Icon">

                            </span>
                        </a>
                    </li>




                </ul>
                <div class="text-center text-muted">
                    <small>&copy; Dan Hathway 2024</small>
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- Ensure FontAwesome is linked correctly -->
<!-- Alternative FontAwesome CDN -->

